The ipv4address parser depends on broken behaviour of Parsec's notFollowedBy

See https://github.com/aslatter/parsec/issues/8; if this issue should be fixed in Parsec, it would trigger the bug in network-uri in turn.

A straightforward fix is to replace `notFollowedBy regName` by `notFollowedBy ( unreservedChar <|> escaped <|> subDelims )`. It would probably be better to extract the argument of `notFollowedBy` into a separate definition which would be used by `regName` as well.


I don't have much time to maintain network-uri at the moment (in fact I wouldn't mind handing the package over to someone else). Could you be interested whipping together a patch, including a test?

The patch is pasted below. The existing test suite is passing, and I don't think there is any new test that can be written to expose the problem at the moment, while the Parsec issue is still unfixed.

---
 Network/URI.hs | 8 ++++++--
 1 file changed, 6 insertions(+), 2 deletions(-)

diff --git a/Network/URI.hs b/Network/URI.hs
index 7f74495..fb259b1 100644
--- a/Network/URI.hs
+++ b/Network/URI.hs
@@ -557,7 +557,7 @@ ipv4address =
         ; a2 <- decOctet ; void $ char '.'
         ; a3 <- decOctet ; void $ char '.'
         ; a4 <- decOctet
-        ; void $ notFollowedBy regName
+        ; void $ notFollowedBy nameChar
         ; return $ a1++"."++a2++"."++a3++"."++a4
         }
     <?> "IPv4 Address"
@@ -573,11 +573,15 @@ decOctet =
 
 regName :: URIParser String
 regName =
-    do  { ss <- countMinMax 0 255 ( unreservedChar <|> escaped <|> subDelims )
+    do  { ss <- countMinMax 0 255 nameChar
         ; return $ concat ss
         }
     <?> "Registered name"
 
+nameChar :: URIParser String
+nameChar = (unreservedChar <|> escaped <|> subDelims)
+    <?> "Name character"
+
 --  RFC3986, section 3.2.3
 
 port :: URIParser String
-- 
2.1.4


By the way, I discovered the issue while experimenting on my [fork](https://github.com/blamario/network-uri/tree/master/Network/URI) that adds a couple of almost compatible modules, using picoparsec instead of parsec. Would you be interested in a pull request? It would fix issue #11, among other things, but I don't know if you find the new modules acceptable.


Made a pull request out of blamario's patch. See #15.