Typo in documentation for normalizePathSegments

> Path segment normalization; cf. RFC3986 section 6.2.2.4

I think it should be [section 6.2.2.3](http://tools.ietf.org/html/rfc3986#section-6.2.2.3).

Should this issue be closed?

Seem so.